* {
    margin: 0;
    padding: 0;
}

.principio {
    background: rgb(243, 246, 250);
    background: linear-gradient( 87deg, rgba(243, 246, 250, 0.8883754185267857) 25%, rgba(136, 132, 132, 0.9023810207676821) 53%, rgba(91, 89, 90, 0.9780112728685224) 97%);
    border-bottom: 1px solid #000;
    min-height: 10px;
    width: 100%;
    position: absolute;
    height: 105px;
    z-index: 99999;
    ul {
        list-style: none;
        li {
            display: inline-block;
            font-family: $tipografia-general;
            cursor: pointer;
        }
    }
    .logo:hover {
        background: transparent;
    }
    a {
        display: inline-block;
        text-decoration: none;
        font-size: 1.5rem;
        padding-left: 10px;
        color: black;
        font-family: $tipo-principal;
        &:hover {
            color: #fff;
            background: transparent;
        }
    }
}

.fondoP {
    background-image: url(../media/logoP.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    .texto {
        h1 {
            padding-top: 24%;
            font-size: 4rem;
            font-family: $tipografia-inicio;
            text-transform: uppercase;
            color: white;
            text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
        }
    }
    .botonIzq {
        padding-top: 15%;
    }
    .botones {
        padding-top: 15px;
    }
}

.seccion1 {
    background-image: url(../media/seccion1.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
}

.redes {
    a {
        margin-right: 150px;
    }
}

.complejo {
    display: inline;
    float: left;
    padding: 0 172px;
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
    h2 {
        padding-top: 150px;
        font-family: $tipo-principal;
        color: #fff;
        text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
        font-size: 3rem;
    }
    p {
        padding-top: 25px;
        font-size: 20px;
        text-shadow: -2px -2px 0.5px #fff, 2px 2px 0.5px #fff, -2px 2px 0.5px #fff, 2px -2px 0.5px #fff;
        font-family: $tipo-principal;
    }
}

.knowmore-btn:hover {
    background-color: #009e00;
    border-color: #009e00;
}

.knowmore-btn:hover {
    color: white;
    border: 2px solid white;
    border-top-color: white(0, 0, 0);
    border-right-color: white(0, 0, 0);
    border-bottom-color: white(0, 0, 0);
    border-left-color: white(0, 0, 0);
    border-radius: 2px;
    text-decoration: none;
    outline: none;
}

.knowmore-btn {
    border: 2px solid #fff;
    border-top-color: white(0, 0, 0);
    border-right-color: white(0, 0, 0);
    border-bottom-color: white(0, 0, 0);
    border-left-color: white(0, 0, 0);
    border-radius: 2px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 25px 28px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.contacto {
    padding-top: 70px;
}

.info {
    background-color: $color-fondo-paginas;
    width: 100%;
    height: 100%;
    display: inline;
    float: left;
    padding: 0 172px;
    position: relative;
    text-align: center;
    h2 {
        padding-top: 150px;
        color: $color-fondo-verde;
        font-weight: bold;
        font-family: $tipografia-general;
    }
    p {
        padding: 15px;
        font-family: $tipografia-general;
    }
}

.juaniWP {
    background-color: rgba(8, 8, 8, 0.6);
}

.margenBTN {
    margin-left: 10%;
}

.datosInfo {
    background-image: url(../media/pelota.jpg);
    width: 100%;
    height: 100vh;
    display: inline;
    float: left;
    padding: 0 172px;
    position: relative;
    text-align: center;
}

.contactoEntero {
    padding-top: 150px;
    padding-left: 350px;
    display: flex;
}

.contactoDatos {
    margin-right: 15%;
    background-color: rgba(8, 8, 8, 0.6);
    ul {
        list-style: none;
    }
    h3 {
        color: $color-texto-verde;
        font-family: $tipografia-general;
        font-weight: bold;
        font-size: 2rem;
        margin: 15px;
    }
    h4 {
        color: $color-texto-verde;
        font-family: $tipografia-general;
        font-weight: bold;
        font-size: 1.4rem;
        margin: 15px;
    }
    li {
        font-family: $tipografia-general;
        font-weight: bold;
        color: white;
    }
}

.fondoBlackEventos {
    background-color: rgba(8, 8, 8, 0.6);
    color: white;
}

.contactoForm {
    margin-left: 15%;
    background-color: rgba(8, 8, 8, 0.6);
    padding: 0px 15px 0px 15px;
    h3 {
        color: $color-texto-verde;
        font-family: $tipografia-general;
        font-weight: bold;
        font-size: 2rem;
        margin: 15px;
    }
    input {
        width: 100%;
    }
    textarea {
        resize: none;
        width: 100%;
    }
}

.sendBlack {
    background-color: black;
    color: white;
}

.recibeBTN {
    margin-left: -10%;
    text-align: center;
}

.textRecibe {
    margin-top: -15%;
}

.eventos {
    margin-top: 15%;
    background-color: rgba(8, 8, 8, 0.6);
    h3 {
        color: $color-texto-verde;
        font-family: $tipografia-general;
        font-weight: bold;
        font-size: 2rem;
    }
    p {
        color: $color-texto-blanco;
        font-family: $tipografia-general;
        font-size: 1.5rem;
    }
}

.torneoFullGris {
    height: 100%;
}

.boxCumple {
    height: 200px;
    width: 300px;
}

.boxEscuela {
    height: 200px;
    width: 300px;
}

.boxTorneo {
    height: 200px;
    width: 300px;
}

.bodyBGcolor {
    background-color: $color-fondo-paginas
}

.bodyBGimg {
    background-image: url(../media/fondogradas.jpg);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "textoTorneo textoTorneo fotoTorneo fotoTorneo" "fotoEscuela fotoEscuela textoEscuela textoEscuela" "textoCumple textoCumple fotoCumple fotoCumple";
    padding-top: 150px;
    margin-left: 15px;
}

.textoTorneo {
    grid-area: textoTorneo;
    text-align: center;
    h3 {
        color: $color-texto-verde;
        margin-bottom: 40px;
        font-family: $tipografia-general;
        font-size: 2rem;
        font-weight: bold;
    }
    p {
        font-family: $tipografia-general;
    }
}

.fotoTorneo {
    grid-area: fotoTorneo;
}

.fotoEscuela {
    grid-area: fotoEscuela;
}

.textoEscuela {
    grid-area: textoEscuela;
    text-align: center;
    h3 {
        color: $color-texto-verde;
        margin-bottom: 40px;
        margin-top: 40px;
        font-family: $tipografia-general;
        font-size: 2rem;
        font-weight: bold;
    }
    p {
        font-family: $tipografia-general;
    }
}

.textoCumple {
    grid-area: textoCumple;
    text-align: center;
    h3 {
        color: $color-texto-verde;
        margin-bottom: 40px;
        font-family: $tipografia-general;
        font-size: 2rem;
        font-weight: bold;
        margin-top: 40px;
    }
    p {
        font-family: $tipografia-general;
    }
}

.fotoCumple {
    grid-area: fotoCumple;
}

.grid-container-torneos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0fr;
    gap: 0px 0px;
    grid-template-areas: "torneoCurso torneoCurso torneoProximo torneoProximo" "fotosPremios fotosPremios fotosPremios fotosPremios" ". . . .";
    padding-top: 150px;
}

.torneoCurso {
    grid-area: torneoCurso;
    margin-left: 55px;
    text-align: center;
    h3 {
        color: $color-texto-verde;
        margin-bottom: 40px;
        font-family: $tipografia-general;
        font-size: 2rem;
        font-weight: bold;
        margin-top: 40px;
    }
    h2 {
        color: $color-texto-verde;
        margin-bottom: 40px;
        font-family: $tipografia-general;
        font-size: 2rem;
        font-weight: bold;
    }
    li {
        list-style: none;
        font-family: $tipografia-general;
    }
    p {
        font-family: $tipografia-general;
        color: $color-texto-verde;
    }
}

.margenTop {
    margin-top: 15px;
}

.torneoProximo {
    grid-area: torneoProximo;
    margin-left: 35px;
    text-align: center;
    h3 {
        color: $color-texto-verde;
        margin-bottom: 40px;
        font-family: $tipografia-general;
        font-size: 2rem;
        font-weight: bold;
        margin-top: 40px;
    }
    h2 {
        color: $color-texto-verde;
        margin-bottom: 40px;
        font-family: $tipografia-general;
        font-size: 2rem;
        font-weight: bold;
    }
    li {
        list-style: none;
        font-family: $tipografia-general;
    }
    p {
        font-family: $tipografia-general;
        color: $color-texto-verde;
    }
}

.fotosPremios {
    grid-area: fotosPremios;
}

.blockquote-footer {
    margin-top: 0px;
    background: linear-gradient(87deg, rgba(243, 246, 250, 0.888375) 25%, rgba(136, 132, 132, 0.902381) 53%, rgba(91, 89, 90, 0.978011) 97%);
    font-family: $tipo-principal;
}

.tribunas {
    background-image: url(../media/fondotribuna.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
}

.contactP {
    width: 50%;
}

.contact {
    text-align: center;
    width: 80%;
    max-width: 100%;
    padding-top: 25px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
    background: rgba(8, 8, 8, 0.8);
    margin-left: 60px;
    h2 {
        font-family: $tipo-principal;
        color: #fff;
    }
}

.txt {
    display: block;
    padding: 5px;
    width: 100%;
    margin: 20px 0px;
    font-size: 15px;
    font-family: $tipo-principal;
    color: #fff;
}

.txt2 {
    display: block;
    width: 100%;
    font-family: $tipo-principal;
    color: #fff;
    padding: 2px;
}

.reserv {
    margin-top: auto;
    font-family: $tipo-principal;
    text-transform: uppercase;
    color: white;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}

.consult {
    text-align: center;
    width: 50%;
}

.formEstilo {
    width: 80%;
    max-width: 100%;
    padding-top: 25px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
    background: rgba(8, 8, 8, 0.8);
    textarea {
        resize: none;
    }
}

.formInfo {
    text-align: center;
    margin-top: 0;
    color: #fff;
    font-family: $tipo-principal;
}

.formula,
.enviar {
    display: block;
    padding: 20px;
    width: 100%;
    margin: 30px 0px;
    font-size: 15px;
    border: none;
}

.enviar {
    background-color: #000;
    border: 0;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 0;
    opacity: 0.7;
    transition: 0.8s ease-out;
    color: #fff;
}

.enviar:hover {
    opacity: 1;
    border-radius: 0;
}

@media (max-width: 600px) {
    .tribunas {
        height: 200vh;
    }
    .contactP {
        text-align: center;
        width: 90%;
        max-width: 100%;
        padding-top: 10px;
        background: transparent;
    }
    .consult {
        text-align: center;
        width: 90%;
        max-width: 100%;
        padding-top: 10px;
        background: transparent
    }
    .formEstilo {
        text-align: center;
        width: 80%;
        max-width: 100%;
        padding-top: 10px;
        margin-left: 60px;
        margin-top: -170px;
    }
}

@media (max-width: 1900px) {
    .datosInfo {
        padding: 0px;
        height: 100%;
    }
    .row {
        margin: 0;
    }
    .tribunas {
        height: 120vh;
    }
}

@media (max-width: 1000px) {
    .principio {
        height: auto;
    }
    .margenBTN {
        margin-left: 10%;
    }
    .complejo {
        padding: 0px;
    }
    .info {
        padding: 0px;
    }
    .datosInfo {
        padding: 0px;
        height: 100%;
    }
    .navbar-brand {
        margin-left: 0px;
        margin-right: 0px;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .navbar-toggler {
        border-color: black;
    }
    .contactoEntero {
        padding-left: 0;
    }
    .grid-container {
        display: block;
        margin-left: 0;
    }
    .grid-container-torneos {
        display: block;
        margin-left: 0;
    }
    .torneoCurso {
        margin-left: 0;
    }
    .torneoProximo {
        margin-left: 0;
    }
}

@media (max-width: 445px) {
    .knowmore-btn {
        display: flex;
        justify-content: center;
    }
    .margenBTN {
        margin-left: 0px;
    }
    .complejo {
        padding: 0px;
    }
    .info {
        padding: 0px;
    }
    .datosInfo {
        padding: 0px;
        height: 100%;
    }
    .navbar-brand {
        margin-left: 0px;
        margin-right: 0px;
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .custom-toggler.navbar-toggler {
        border-color: black;
    }
    .fondoP {
        .texto {
            h1 {
                font-size: 3rem;
            }
        }
    }
    .contactoEntero {
        padding-left: 0;
        flex-direction: column;
    }
    .contactoDatos {
        margin-right: 0;
    }
    .contactoForm {
        margin-left: -5%;
        padding: 0;
    }
    .frameResp {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
    }
    .datosInfo {
        height: 100%;
    }
    .seccion1 {
        height: 100%;
    }
    .tribunas {
        height: 180vh;
    }
    .consult {
        margin-top: 55px;
    }
}

@media (max-width: 100px) {
    .seccion1 {
        height: 100vh;
    }
}