$color-texto-verde: green;
$color-texto-negro: black;
$color-div-blanco: whitesmoke;
$color-fondo-blanco: white;
$color-fondo-verde: green;
$color-fondo-footer:rgb(50, 245, 115);
$tipografia-general: 'Roboto',
sans-serif;